{% extends 'main/base.html' %}
{% load static %}
{% block url %}
<a href="" class="nav-item nav-link active">Домой</a>
<a href="{% url 'about' %}" class="nav-item nav-link">О нас</a>
<a href="{% url 'service' %}" class="nav-item nav-link">Услуги</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Страница</a>
    <div class="dropdown-menu m-0">
        <a href="{% url 'price' %}" class="dropdown-item">Цены</a>
        <a href="{% url 'team' %}" class="dropdown-item">Наши Дантисты</a>
    </div>
</div>
<a href="{% url 'contact' %}" class="nav-item nav-link">Контакты</a>
{% endblock %}
{% block content %}
    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Поиск">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Следите за здоровьем ваших зубов</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">Получите самое качественное стоматологическое лечение</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Banner Start -->
    <div class="container-fluid banner mb-5">
        <div class="container">
            <div class="row gx-0">
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                    <div class="bg-primary d-flex flex-column p-5" style="height: 300px;">
                        <h3 class="text-white mb-3">Режим работы</h3>
                        <div class="d-flex justify-content-between text-white mb-3">
                            <h6 class="text-white mb-0">Пон - Птн</h6>
                            <p class="mb-0"> 8:00 - 18:00</p>
                        </div>
                        <div class="d-flex justify-content-between text-white mb-3">
                            <h6 class="text-white mb-0">Суббота</h6>
                            <p class="mb-0"> 9:00- 15:00</p>
                        </div>
                        <div class="d-flex justify-content-between text-white mb-3">
                            <h6 class="text-white mb-0">Воскресенье</h6>
                            <p class="mb-0"> Закрыто</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                    <div class="bg-dark d-flex flex-column p-5" style="height: 300px;">
                       <h3 class="text-white mb-3">Записаться на приём</h3>
                        <p class="text-white">Просим сделать запись за 2 дня вперёд</p>
                        <h2 class="text-white mb-0">+996 507 754 275</h2>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                    <div class="bg-secondary d-flex flex-column p-5" style="height: 300px;">
                        <h3 class="text-white mb-3">Записаться на приём</h3>
                        <p class="text-white">Просим сделать запись за 2 дня вперёд</p>
                        <h2 class="text-white mb-0">+996 507 754 275</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Start -->


    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">О Нас</h5>
                        <h1 class="display-5 mb-0">Стоматологическая клиника № 1 В городе Бишкек</h1>
                    </div>
                    <h4 class="text-body fst-italic mb-4">Мы не завышаем цены. В среднем стоимость наших услуг дешевле на 15-20%, чем в других клиниках.Мы даем гарантию на любое лечение полгода. Кроме этого, если Вас не устроит результат лечения, то мы вернем деньги без лишних вопросов.Мы даем гарантию на любое лечение полгода. Кроме этого, если Вас не устроит результат лечения, то мы вернем деньги без лишних вопросов.Мы даем гарантию на любое лечение полгода. Кроме этого, если Вас не устроит результат лечения, то мы вернем деньги без лишних вопросов.</h4>
                    <p class="mb-4"></p>
                    <div class="row g-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Награды</h5>
                            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Професиональный Персонал</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Работаем с 08:00 до 18:00</h5>
                            <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Доступные Цены</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->





    <!-- Appointment Start -->
    <div class="container-fluid bg-primary bg-appointment mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 90px;">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="display-5 text-white mb-4">Мы Являемся Сертифицированной и Отмеченной Наградами Стоматологической Клиникой, Которой Вы Можете Доверять</h1>
                        <p class="text-white mb-0">Команда специалистов нашей клиники предоставляет полный спектр стоматологических услуг для всей семьи. У вас есть уникальная возможность получить весь комплекс стоматологических услуг в одном месте. Ведь решение проблем со здоровьем лучше доверить профессионалам.И не боясь записаться на приём прямо сейчас</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                        <h1 class="text-white mb-4">Сделать запись</h1>
                        <form action="{% url 'appointment' %}" method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;" name="service"  id="service" >
                                        <option>Выбрать услугу</option>
                                            {% if service_main is not None %}
                                            {% for i in service_main %}
                                            <option >{{ i.name }}</option>
                                            {% endfor %}
                                            {% endif %}
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;" name="doctor"  id="doctor">
                                        <option>Выбрать доктора</option>
                                        {% if doctor is not None %}
                                        {% for i in doctor %}
                                        <option>{{ i.name }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="name" class="form-control bg-light border-0"name="name"  id="name" placeholder="Имя" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" name="phone" id="phone" placeholder="Телефонный номер" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-light border-0 datetimepicker-input" name="date" id="date"
                                            placeholder="Дата записи" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>

                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time1" data-target-input="nearest">
                                        <input type="text" id="time" name="time"
                                            class="form-control bg-light border-0 datetimepicker-input"
                                            placeholder="Время записи" data-target="#time1" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Отправить заявку</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


    <!-- Service Start -->
   <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5 mb-5">
                <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" style="min-height: 400px;">
                    <div class="twentytwenty-container position-relative h-100 rounded overflow-hidden">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/before.jpg' %} " style="object-fit: cover;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/after.jpg' %} " style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title mb-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Наши услуги</h5>
                        <h1 class="display-5 mb-0">Мы предлагаем стоматологические услуги высокого качества</h1>
                    </div>
                    <div class="row g-5">
                        {% if service2 is not None %}
                        {% for i in service2 %}
                        <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s" >
                            <div class="rounded-top overflow-hidden">
                                <img class="test_css" style="width: 100%; height: 180px;" src="{{ i.img.url }}" alt="">
                            </div>
                            <div class="position-relative bg-light rounded-bottom text-center p-4" >
                                <h5 class="m-0">{{ i.name }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
<!--                        <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">-->
<!--                            <div class="rounded-top overflow-hidden">-->
<!--                                <img class="img-fluid" src="{% static 'img/service-2.jpg'%}" alt="">-->
<!--                            </div>-->
<!--                            <div class="position-relative bg-light rounded-bottom text-center p-4">-->
<!--                                <h5 class="m-0">Зубные имплантанты</h5>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="row g-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-7">
                    <div class="row g-5">
                        {% if service3 is not None %}
                        {% for i in service3 %}
                        <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.3s">
                            <div class="rounded-top overflow-hidden ">
                                <img class="img-fluid" style="width: 100%; height: 180px;" src="{{ i.img.url }}" alt="">
                            </div>
                            <div class="position-relative bg-light rounded-bottom text-center p-4">
                                <h5 class="m-0">{{ i.name }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
<!--                        <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">-->
<!--                            <div class="rounded-top overflow-hidden">-->
<!--                                <img class="img-fluid" src="{% static 'img/service-4.jpg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="position-relative bg-light rounded-bottom text-center p-4">-->
<!--                                <h5 class="m-0">Отбеливание зубов </h5>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="col-lg-5 service-item wow zoomIn" data-wow-delay="0.9s">
                    <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
                        <h3 class="text-white mb-3">Записаться на приём</h3>
                        <p class="text-white mb-3">Просим сделать запись за 2 дня вперёд</p>
                        <h2 class="text-white mb-0">+996 507 754 275</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Offer Start -->
    <div class="container-fluid bg-offer my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
                    <div class="offer-text text-center rounded p-5">
                        <h1 class="display-5 text-white">Сэкономьте 30% на вашем первом осмотре у стоматолога</h1>
                        <p class="text-white mb-4">У нас в клинике - всегда уютно и светло, тепло - в непогоду и прохладно - в жаркий летний день. Наши администраторы встретят вас с улыбкой, предложат чашечку чая или кофе и ответят на все вопросы, пока ассистенты готовят помещение к следующему приему. .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Pricing Start -->
     <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-5">
                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Прайс Лист</h5>
                        <h1 class="display-5 mb-0">Мы предлагаем справедливые цены на лечение зубов</h1>
                    </div>
                    <p class="mb-4">На лечение зубов 10-% скидка для Пенсионеров,детям из многодетной семьи, и для людей с ограниченной возможностью</p>
                    <h5 class="text-uppercase text-primary wow fadeInUp" data-wow-delay="0.3s">Позвонить для записи </h5>
                    <h1 class="wow fadeInUp" data-wow-delay="0.6s">+996 507 754 275</h1>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                        {% if service_main is not None %}
                        {% for i in service_main %}

                        <div class="price-item pb-4">
                            <div class="position-relative">
                                <img class="img-fluid rounded-top" style="width: 100%; height: 230px;" src="{{ i.img.url }}" alt="">
                                <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                    <h2 class="text-primary m-0">{{ i.price }}</h2>
                                </div>
                            </div>
                            <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                <h4>{{ i.name }}</h4>
                                <hr class="text-primary w-50 mx-auto mt-0">
                                <div class="d-flex justify-content-between mb-3"><span>{{ i.description1 }}</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>{{ i.description2 }}</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-2"><span>{{ i.description3 }}</span><i class="fa fa-check text-primary pt-1"></i></div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-primary bg-testimonial py-5 my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel rounded p-5 wow zoomIn" data-wow-delay="0.6s">
                        {% if review is not None %}
                        {% for i in review %}
                        <div class="testimonial-item text-center text-white">
                            <img class="img-fluid mx-auto rounded mb-4" src="{{ i.img.url }}" alt="">
                            <p class="fs-5">{{i.comment}}</p>
                            <hr class="mx-auto w-25">
                            <h4 class="text-white mb-0">{{i.name}}</h4>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonial End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title bg-light rounded h-100 p-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Наши Дантисты</h5>
                        <br>
                        <br>
                        <h1 class="display-6 mb-4">Познакомьтесь с нашими Профи Дантистами</h1>
                    </div>
                </div>
                {% if doctor2 is not None %}
                {% for i in doctor2 %}
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid" style="width: 100%; height: 260px;" src="{{ i.img.url }}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
<!--                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>-->
<!--                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>-->
<!--                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>-->
<!--                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>-->
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">{{ i.name }}</h4>
                            <p class="text-primary mb-0">{{ i.profession }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                {% if doctor3 is not None %}
                {% for i in doctor3 %}
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid" style="width: 100%; height: 260px;" src="{{ i.img.url }}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
<!--                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>-->
<!--                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>-->
<!--                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>-->
<!--                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>-->
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">{{ i.name }}</h4>
                            <p class="text-primary mb-0">{{ i.profession }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
    <!-- Team End -->

{% endblock %}




