{% extends 'main/base.html' %}
{% load static %}
{% block url %}
<a href="{% url 'home' %}" class="nav-item nav-link">Домой</a>
<a href="{% url 'about' %}" class="nav-item nav-link">О нас</a>
<a href="{% url 'service' %}" class="nav-item nav-link">Услуги</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Страница</a>
    <div class="dropdown-menu m-0">
        <a href="{% url 'price' %}" class="dropdown-item">Цены</a>
        <a href="" class="dropdown-item">Наши Дантисты</a>
    </div>
</div>
<a href="{% url 'contact' %}" class="nav-item nav-link">Контакты</a>
{% endblock %}
{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Дантисты</h1>


            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Team Start -->
  <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title bg-light rounded h-100 p-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Наши Дантисты</h5>
                        <h1 class="display-6 mb-4">Познакомьтесь с нашими Профи Дантистами</h1>
                        <a href="{%static 'appointment.html' %}" class="btn btn-primary py-3 px-5">Назначение</a>
                    </div>
                </div>
                {% for i in doctor2 %}
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid" src="{{ i.img.url }}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">{{ i.name }}</h4>
                            <p class="text-primary mb-0">{{ i.profession }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for i in doctor3 %}
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid" src="{{ i.img.url }}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">{{ i.name }}</h4>
                            <p class="text-primary mb-0">{{ i.profession }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Team End -->

{% endblock %}
